POSTGRES_DB=dkp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-postgres-password
PGADMIN_DEFAULT_EMAIL=admin@coffecottage.dk
PGADMIN_DEFAULT_PASSWORD=change-this-pgadmin-password
DISCORD_CLIENT_ID=change-this-client-id
DISCORD_CLIENT_SECRET=change-this-client-secret
DISCORD_GUILD_ID=1505886353131311136
DISCORD_OFFICER_USER_IDS__0=change-this-discord-user-id
DISCORD_REDIRECT_URI=https://wowforever.coffecottage.dk/signin-discord
DKP_HOST=wowforever.coffecottage.dk
PGADMIN_HOST=pgadmin.coffecottage.dk
LETSENCRYPT_EMAIL=admin@coffecottage.dk
WATCHTOWER_POLL_INTERVAL=300
NGROK_URL=https://little-stylishly-blot.ngrok-free.dev
NGROK_AUTHTOKEN=change-this-ngrok-authtoken
